= form_for @service do |f|
  .form-row.mb-2
    .col-8
      = f.label :name, class: "mb-0 text-primary font-weight-bold font-weight-bold"
      .input-group.mb-2
        .input-group-prepend
          .input-group-text
            %i.fas.fa-briefcase
        = f.text_field :name, required: true, class: "form-control form-control-sm"
    .col-4
      = f.label :price, class: "mb-0 text-primary font-weight-bold"
      .input-group.mb-2
        .input-group-prepend
          .input-group-text
            %i.fas.fa-money-bill
        = f.number_field :price, required: true, class: "form-control form-control-sm", min: 0, step: "any"
  .form-row.mb-2
    = f.label :description, class:"mb-0 text-primary font-weight-bold font-weight-bold"
    = f.text_area :description, class: "form-control form-control-sm"
  .form-row.actions.text-right
    .col-12
      = f.submit t('services.save'), class: "btn btn-primary btn-sm px-2"
      
