= form_for @service do |f|
  .form-row.mb-2
    .col-8
      = f.label :name, class: "mb-0 text-primary font-weight-bold font-weight-bold"
      .input-group.mb-2
        .input-group-prepend
          .input-group-text
            %i.fas.fa-font
        = f.text_field :name, required: true, class: "form-control form-control-sm"
    .col-4
      - if @service.new_record?
        = f.label :creation_price, class: "mb-0 text-primary font-weight-bold"
        .input-group.mb-2
          .input-group-prepend
            .input-group-text
              %i.fas.fa-money-bill-wave
          = f.number_field :creation_price, required: true, class: "form-control form-control-sm", min: 0, step: "any"
      - else
        = f.label :actual_price, class: "mb-0 text-primary font-weight-bold"
        .input-group.mb-2
          .input-group-prepend
            .input-group-text
              %i.fas.fa-money-bill-wave
          = f.number_field :actual_price, required: true, class: "form-control form-control-sm", min: 0, step: "any"
  .form-row.mb-2
    = f.label :description, class:"mb-0 text-primary font-weight-bold font-weight-bold"
    = f.text_area :description, class: "form-control form-control-sm"
  .form-row.actions.text-right
    .col-12
      = f.submit t('services.save'), class: "btn btn-primary btn-sm px-2"
