= render partial: "confirmation_modal"
= javascript_pack_tag "services/index", media: "all", "data-turbolinks-track": "reload"
.row
  .col-md-12.col-lg-10.offset-lg-1
    .form-row
      .col-12
        .card
          .card-header
            .row
              .col-8
                %h4.text-primary 
                  %b= t('.title')
              .col-4.text-right
                = link_to t('.new'), new_service_path, class: "btn btn-primary"
          .card-body
            .form-row
              .col-12.mb-2
                %b.font-size-search= t('.search_title')
            = search_form_for @q, url: services_path do |f|
              .form-row
                .col-10
                  %b.color-search-title= t('services.index.search_name')
                  .input-group-prepend
                    .input-group-text
                      %i.fas.fa-briefcase
                    = f.text_field :name_cont, class: 'form-control'
                .col-2.text-right.button-margin-top
                  %button.btn-block.btn.btn-purple{ type: "submit", value: "Search"}
                    %i.fas.fa-search.fa-sm
                    = t('.search')
    - if @services.length > 0
      %table.table.table-sm.table-striped
        %thead
          %tr.bg-primary.text-light
            %th= t('services.name')
            %th= t('services.description')
            %th.text-right= "#{t('services.actual_price')} (#{t('currency')})"
            %th
        %tbody#services-body
        - @services.each do |service|
          %tr
            %td 
              %span{id: "title_service_#{service.id}"}= service.name
            %td 
              %span{id: "title_service_#{service.id}"}= service.description
            %td.text-right
              %span{id: "title_service_#{service.id}"}= service.actual_price
            %td.text-right
              %button.btn.btn-success.btm-sm
                = link_to edit_service_path(service) do
                  %i.fas.fa-edit.fa-xs.text-white
              %button.btn.btn-danger.btm-sm{onclick: "show_confirmation_modal(this)",
                action: service_path(service),
                method: :delete}
                %i.fas.fa-trash-alt.fa-xs
      = paginate @services
    - else
      .text-center.text-muted.mt-5
        %h2= t('.no_results_found')
        %br
        = image_tag "lomax-logo.png", class: 'logo-without-results'
