%p#notice= notice

%p
  %b= t('.name')
  = @service.name
%p
  %b= t('.description')
  = @service.description
%p
  %b= t('.actual_price')
  = @service.creation_price


= link_to t('.edit'), edit_service_path(@service)
\|
= link_to t('.back'), services_path
