%p
  = t('password_reset_email.body.greeting',{ name:@user.user_detail.name,last_name:@user.user_detail.last_name})
%p
  = t('password_reset_email.body.initial_message')
  %b 
    = @user.password
%p
  = link_to new_user_session_url do
    = t('password_reset_email.body.link')
%p
  = t('password_reset_email.body.ending_message')
%p
  = t('password_reset_email.body.warning')