%p
  = t('password_reset_email.greeting',{ name:@user.user_detail.name,last_name:@user.user_detail.last_name})
%p
  = t('password_reset_email.instruction')
  %b 
    = @user.password
%p
  = link_to new_user_session_url do
    = t('password_reset_email.action')
%p
  = t('password_reset_email.instruction_2')
%p
  = t('password_reset_email.instruction_3')