.row
  .col-12.col-md-8.offset-md-2.col-lg-4.offset-lg-4
    .card
      .card-body
        .row.mb-4
          .col-8.offset-2
            = image_tag "lomax-logo.png", alt: "logo", class: "img-fluid"
        %h4.text-center
          %b= t('users.reset.email_title')
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          = render "devise/shared/error_messages", resource: resource
          .input-group.mb-3
            .input-group-prepend
              .input-group-text
                %i.fas.fa-envelope
            = f.email_field(:email, autofocus: true, required: true,
            autocomplete: "email", class: "form-control",placeholder: t('users.email'))
          .row
            .col-12.text-center.mb-4
              .actions
                = f.submit t('users.registrations.account.send_reset_email'), class: "btn btn-primary btn-block"
          .input-group.mb-3
            = render "devise/shared/links"

