= form_for @client do |f|
  - if @client.errors.any?
    #error_explanation
      %h2= "#{pluralize(@client.errors.count, "error")} prohibited this client from being saved:"
      %ul
        - @client.errors.full_messages.each do |message|
          %li= message
  .form-row
    .input-group.mb-3
      .input-group-prepend
        .input-group-text.bg-white.text-primary
          %b Nombre&nbsp;&nbsp;&nbsp;
      = f.text_field :name, class: "form-control"
  .form-row
    .input-group.mb-3
      .input-group-prepend
        .input-group-text.bg-white.text-primary
          %b Dirección
      = f.text_area :address, class: "form-control"
  .form-row
    .input-group.mb-3
      .input-group-prepend
        .input-group-text.bg-white.text-primary
          %b Nit&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      = f.text_field :nit, class: "form-control"
  .form-row
    .input-group.mb-3
      .input-group-prepend
        .input-group-text.bg-white.text-primary
          %b Teléfono&nbsp;
      = f.text_field :phone, class: "form-control"
  .form-row.actions.text-right
    .col-12
      = f.submit 'Guardar', class: "btn btn-primary btn-sm px-2"
