.row
  .col-12.col-md-10.offset-md-1
    .form-row.mb-3
      .col-2.my-auto
        %h4.text-primary Clientes
      .col-8
        .input-group.mb-3
          .input-group-prepend
            .input-group-text.border-dark
              %i.fas.fa-search
          %input.form-control.form-control-sm.border.border-dark{placeholder: "Buscar Cliente" }
      .col-2
        = link_to 'Nuevo Cliente', new_client_path, class: "btn btn-primary btn-sm"
    %table.table.table-sm.table-striped
      %thead
        %tr.bg-primary.text-light
          %th Cliente
          %th Dirección
          %th Nit
          %th Teléfono
          %th
      %tbody
        %tr
        - @clients.each do |client|
          %tr
            %td= client.name
            %td= client.address
            %td= client.nit
            %td= client.phone
            %td.text-right
              %button.btn.btn-success.btm-sm
                = link_to edit_client_path(client) do
                  %i.fas.fa-edit.fa-xs.text-white
              %button.btn.btn-danger.btm-sm
                = link_to client, method: :delete, data: { confirm: '¿Estas seguro de eliminarlo' } do
                  %i.fas.fa-trash-alt.fa-xs.text-white

