.row
  .offset-9.text-right
    %b= t('quotations.show.titles.quotation_number')
    %b.text-danger=@quotation['id']
  .offset-9.text-right
    %b= t('quotations.show.titles.quotation.date')
    %b= Date.today.strftime('%d/%m/%Y')
  %p
    %b= t('quotations.show.titles.client.info')
    %br
    %b= t('quotations.show.titles.client.client')
    = @quotation[:client].name
    %br
    %b= t('quotations.show.titles.client.address')
    = @quotation[:client].address
    %br
    %b= t('quotations.show.titles.client.nit')
    = @quotation[:client].nit
    %br
    %b= t('quotations.show.titles.client.phone')
    = @quotation[:client].phone
  -if @quotation[:quotation_products].length > 0
    - if @quotation['quotation_type'] == 't_comparative'
      %table.table-striped.table-bordered.mb-3.mt-3
        %colgroup.width-materials{:span => "2"}
        %colgroup.width-brands-c{:span => "2"}
        %colgroup.width-brands-c{:span => "2"}
        %tr 
          %td.text-center{:rowspan => "2", :colspan => "2", :scope => "colgroup"}
            %h4= t('quotations.show.titles.materials') 
          %th.text-center{:colspan => "2", :scope => "colgroup", :class => "table-dark"} 
            %b= t('quotations.show.custom_headers.expression')
          %th.text-center{:colspan => "2", :scope => "colgroup", :class => "table-dark"} 
            %b= t('quotations.show.custom_headers.expression')
        %tr
          %th.text-center{:colspan => "2", :scope => "colgroup"}
            %b.text-danger= t('quotations.show.brands.t_supranet_only')
          %th.text-center{:colspan => "2", :scope => "colgroup"}
            %b.text-danger= t('quotations.show.brands.t_siemon_only')
        %tr
          %th.text-center.width-amount.bg-lomax.text-white{:scope => "colgroup"}
            %b= t('quotations.show.headers.amount')
          %th.text-center.bg-lomax.text-white{:scope => "colgroup"}
            %b= t('quotations.show.headers.material')
          %th.text-center.bg-lomax.text-white{:scope => "colgroup"}
            %b= t('quotations.show.headers.price')
          %th.text-center.bg-lomax.text-white{:scope => "colgroup"}
            %b= t('quotations.show.headers.total')
          %th.text-center.bg-lomax.text-white{:scope => "colgroup"}
            %b= t('quotations.show.headers.price')
          %th.text-center.bg-lomax.text-white{:scope => "colgroup"}
            %b= t('quotations.show.headers.total')
        - @quotation[:quotation_products].map do |product|
          %tr
            %td.text-center.width-amount{:scope => "row"}= product['amount'].to_i
            %td= product['material']
            %td.text-right= number_to_currency_gt(product['t_supranet_only_price_with_percent'])
            %td.text-right= number_to_currency_gt(product['t_supranet_only_total_with_percent'])
            %td.text-right= number_to_currency_gt(product['t_siemon_only_price_with_percent'])
            %td.text-right= number_to_currency_gt(product['t_siemon_only_total_with_percent'])
        %tr
          %th.text-center{:colspan => "2", :scope => "row", :class => "table-dark"}= t('quotations.show.custom_headers.total')
          %td{:class => "table-dark"}
          %th.text-right{:class => "table-dark"}= number_to_currency_gt(@quotation[:products_totals]['t_supranet_only'][:with_percent])
          %td{:class => "table-dark"}
          %th.text-right{:class => "table-dark"}= number_to_currency_gt(@quotation[:products_totals]['t_siemon_only'][:with_percent])    
    - else
      %table.table-striped.table-bordered.mb-3.mt-3
        -if @quotation['quotation_type'] == 't_simple'
          %colgroup{:span => "3"}
          %colgroup.width-brands{:span => "2"}
        -else
          %colgroup.width-materials{:span => "2"}
          %colgroup.width-brands-s{:span => "2"}
        -if @quotation['quotation_type'] == 't_simple'
          %tr 
            %td.text-center.width-materials-brand{:colspan => "3", :scope => "colgroup"}
              %h4= t('quotations.show.titles.materials') 
            %th.text-center{:colspan => "2", :scope => "colgroup", :class => "table-dark"} 
              %b= t('quotations.show.custom_headers.expression')
        -else
          %tr 
            %td.text-center{:rowspan => "2", :colspan => "2", :scope => "colgroup"}
              %h4= t('quotations.show.titles.materials') 
            %th.text-center{:colspan => "2", :scope => "colgroup", :class => "table-dark"} 
              %b= t('quotations.show.custom_headers.expression')
          -if @quotation['quotation_type'] == 't_supranet_only'
            %tr
              %th.text-center{:colspan => "2", :scope => "colgroup"}
                %b.text-danger= t('quotations.show.brands.t_supranet_only')
          -else
            %tr
              %th.text-center{:colspan => "2", :scope => "colgroup"}
                %b.text-danger= t('quotations.show.brands.t_siemon_only')
        %tr
          %th.text-center.width-amount.bg-lomax.text-white{:scope => "colgroup"}
            %b= t('quotations.show.headers.amount')
          -if @quotation['quotation_type'] == 't_simple'
            %th.text-center.width-brand.bg-lomax.text-white{:scope => "colgroup"}
              %b= t('quotations.show.headers.brand')
          %th.text-center.bg-lomax.text-white{:scope => "colgroup"}
            %b= t('quotations.show.headers.material')
          %th.text-center.bg-lomax.text-white{:scope => "colgroup"}
            %b= t('quotations.show.headers.price')
          %th.text-center.bg-lomax.text-white{:scope => "colgroup"}
            %b= t('quotations.show.headers.total')
        -@quotation[:quotation_products].map do |product|
          %tr
            %td.text-center.width-amount{:scope => "row"}= product['amount'].to_i
            -if @quotation['quotation_type'] == 't_simple'
              %td.width-brand.text-center= product[:brand]
            %td= product[:material]
            -if @quotation['quotation_type'] == 't_simple'
              %td.text-right= number_to_currency_gt(product[:t_simple_price_with_percent])
              %td.text-right= number_to_currency_gt(product[:t_simple_total_with_percent])
            -elsif @quotation['quotation_type'] == 't_supranet_only'
              %td.text-right= number_to_currency_gt(product[:t_supranet_only_price_with_percent])
              %td.text-right= number_to_currency_gt(product[:t_supranet_only_total_with_percent])
            -else
              %td.text-right= number_to_currency_gt(product[:t_siemon_only_price_with_percent])
              %td.text-right= number_to_currency_gt(product[:t_siemon_only_total_with_percent])
        %tr
          -if @quotation['quotation_type'] == 't_simple'
            %th.text-center{:colspan => "3", :scope => "row", :class => "table-dark"}= t('quotations.show.custom_headers.total')
          -else
            %th.text-center{:colspan => "2", :scope => "row", :class => "table-dark"}= t('quotations.show.custom_headers.total')
          %td{:class => "table-dark"}
          %th.text-right{:class => "table-dark"}= number_to_currency_gt(@quotation[:products_totals][:with_percent])    
        
    %h4= t('quotations.show.titles.services')
    
    %table.table-striped.table-bordered.mt-3.mb-3
      %colgroup.width-materials{:span => "2"}
      %colgroup.width-brands-s{:span => "2"}
      -if @quotation['quotation_type'] == 't_comparative'
        %tr 
          %td.text-center{:rowspan => "2", :colspan => "2", :scope => "colgroup"}
            %h4.text-danger= t('quotations.show.titles.option_a') 
          %th.text-center{:colspan => "2", :scope => "colgroup", :class => "table-dark"} 
            %b= t('quotations.show.custom_headers.expression')
      -else 
        %tr 
          %td.text-center{:rowspan => "2", :colspan => "2", :scope => "colgroup"}
            %h4.text-danger= t('quotations.show.titles.services') 
          %th.text-center{:colspan => "2", :scope => "colgroup", :class => "table-dark"} 
            %b= t('quotations.show.custom_headers.expression')
      %tr
        %th.text-center{:colspan => "2", :scope => "colgroup"}
          %b.text-danger= t('quotations.show.custom_headers.prices')
      -if @quotation[:quotation_services].length>0
        %tr
          %th.text-center.width-amount.bg-lomax.text-white{:scope => "colgroup"}
            %b= t('quotations.show.headers.amount')
          %th.text-center.bg-lomax.text-white{:scope => "colgroup"}
            %b= t('quotations.show.headers.service')
          %th.text-center.bg-lomax.text-white{:scope => "colgroup"}
            %b= t('quotations.show.headers.price')
          %th.text-center.bg-lomax.text-white{:scope => "colgroup"}
            %b= t('quotations.show.headers.total')
      - @quotation[:quotation_services].map do |service|
        %tr
          %td.text-center.width-amount{:scope => "row"}= service['amount'].to_i
          %td= service['service']
          %td.text-right= number_to_currency_gt(service[:price_with_percent])
          %td.text-right= number_to_currency_gt(service[:total_with_percent])
      -if @quotation['quotation_type'] == 't_comparative'
        %tr
          %th.text-center.width-amount{:scope => "row"} 
          %td= "#{t('quotations.show.custom_footers.materials')} #{t('quotations.show.brands.t_supranet_only')}"  
          %td
          %td.text-right= number_to_currency_gt(@quotation[:products_totals]['t_supranet_only'][:with_percent])
        %tr
          %th.text-center{:colspan => "2", :scope => "row", :class => "table-dark"}= t('quotations.show.custom_headers.total')
          %td{:class => "table-dark"}
          %th.text-right{:class => "table-dark"}= number_to_currency_gt(@quotation[:products_totals]['t_supranet_only'][:with_percent]+@quotation[:services_totals][:with_percent])
      -else
        %tr
          %th.text-center.width-amount{:scope => "row"} 
          %td= "#{t('quotations.show.custom_footers.materials')}"  
          %td
          %td.text-right= number_to_currency_gt(@quotation[:products_totals][:with_percent])
        %tr
          %th.text-center{:colspan => "2", :scope => "row", :class => "table-dark"}= t('quotations.show.custom_headers.total')
          %td{:class => "table-dark"}
          %th.text-right{:class => "table-dark"}= number_to_currency_gt(@quotation[:products_totals][:with_percent]+@quotation[:services_totals][:with_percent])
    
    -if @quotation['quotation_type'] == 't_comparative'
      %table.table-striped.table-bordered.mt-3.mb-3
        %colgroup.width-materials{:span => "2"}
        %colgroup.width-brands-s{:span => "2"}
        %tr 
          %td.text-center{:rowspan => "2", :colspan => "2", :scope => "colgroup"}
            %h4.text-danger= t('quotations.show.titles.option_b') 
          %th.text-center{:colspan => "2", :scope => "colgroup", :class => "table-dark"} 
            %b= t('quotations.show.custom_headers.expression')
        %tr
          %th.text-center{:colspan => "2", :scope => "colgroup"}
            %b.text-danger= t('quotations.show.custom_headers.prices')
        -if @quotation[:quotation_services].length>0
          %tr
            %th.text-center.width-amount.bg-lomax.text-white{:scope => "colgroup"}
              %b= t('quotations.show.headers.amount')
            %th.text-center.bg-lomax.text-white{:scope => "colgroup"}
              %b= t('quotations.show.headers.service')
            %th.text-center.bg-lomax.text-white{:scope => "colgroup"}
              %b= t('quotations.show.headers.price')
            %th.text-center.bg-lomax.text-white{:scope => "colgroup"}
              %b= t('quotations.show.headers.total')
        - @quotation[:quotation_services].map do |service|
          %tr
            %td.text-center.width-amount{:scope => "row"}= service['amount'].to_i
            %td= service['service']
            %td.text-right= number_to_currency_gt(service[:price_with_percent])
            %td.text-right= number_to_currency_gt(service[:total_with_percent])
        %tr
          %th.text-center.width-amount{:scope => "row"} 
          %td= "#{t('quotations.show.custom_footers.materials')} #{t('quotations.show.brands.t_siemon_only')}"  
          %td
          %td.text-right= number_to_currency_gt(@quotation[:products_totals]['t_siemon_only'][:with_percent])
        %tr
          %th.text-center{:colspan => "2", :scope => "row", :class => "table-dark"}= t('quotations.show.custom_headers.total')
          %td{:class => "table-dark"}
          %th.text-right{:class => "table-dark"}= number_to_currency_gt(@quotation[:products_totals]['t_siemon_only'][:with_percent]+@quotation[:services_totals][:with_percent])
  -else
  %h4= t('quotations.show.titles.warranty')
  %p.text-justify= @quotation['warranty'] 
  %h4= t('quotations.show.titles.payment_condition')
  %p.text-justify= @quotation['payment_condition']
  -if @quotation['quotation_type'] == 't_comparative'
    .offset-3.text-center.pagebreak
      %table.table-bordered.mt-3
        %col{:span => "1"}
        %colgroup{:span => "2"}
        %tr 
          %th.width-brands-s.text-center.bg-signature{:scope => "colgroup"}
            %b= t('quotations.show.titles.signature')
          %th.width-brands-s.text-center.bg-signature{:colspan => "2", :scope => "colgroup"}
            %b= t('quotations.show.titles.option')
        %tr.height-tr
          %td
          %td.align-top= t('quotations.show.brands.t_supranet_only')
          %td.align-top= t('quotations.show.brands.t_siemon_only')
  -else
    .offset-4.text-center.pagebreak
      %table.table-bordered.mt-3
        %col{:span => "1"}
        %colgroup{:span => "2"}
        %tr 
          %th.width-brands-s.text-center.bg-signature{:scope => "colgroup"}
            %b= t('quotations.show.titles.signature')
        %tr.height-tr
          %td
   