%b= t('quotations.show.company.name')
%b= t('quotations.show.titles.address')
= t('quotations.show.company.address')
%br
%b= t('quotations.show.titles.email')
= t('quotations.show.company.email')
%b= t('quotations.show.titles.client.phone')
= t('quotations.show.company.phone')
%b= t('quotations.show.titles.web_page')
= t('quotations.show.company.web_page')