.row
  .col-12.col-md-8.offset-md-2.col-lg-4.offset-lg-4
    .card
      .card-body
        .row.mb-4
          .col-8.offset-2
            = image_tag "lomax-logo.png", alt: "logo", class: "img-fluid"
        %h4.text-center
          %b= t('title')
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .input-group.mb-3
            .input-group-prepend
              .input-group-text
                %i.fas.fa-envelope
            = f.email_field :email, autofocus: true,
            autocomplete: "email", class: "form-control",placeholder: t('users.email')
          .input-group.mb-1
            .input-group-prepend
              .input-group-text
                %i.fas.fa-key
            = f.password_field :password, autofocus: true,
            autocomplete: "current-password", class: "form-control",placeholder: t('users.password')
          .input-group.mb-3
            = render "devise/shared/links"
          .row
            .col-12.text-center.mb-4
              - if devise_mapping.rememberable?
                = f.check_box :remember_me
                %b
                  #{f.label :remember_me}
            .col-12.text-center.mb-4
              .actions
                = f.submit t('users.registrations.account.login'), class: "btn btn-primary btn-block"
