.row
  .col-12.col-md-8.offset-md-2.col-lg-4.offset-lg-4
    .card
      .card-body
        .row.mb-4
          .col-8.offset-2
            = image_tag "lomax-logo.jpg", alt: "logo lomax", class: "img-fluid"
        %h4.text-center
          %b Project Manager
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .input-group.mb-3
            .input-group-prepend
              .input-group-text
                %i.fas.fa-envelope
            = f.email_field :email, autofocus: true,
            autocomplete: "email", class: "form-control",placeholder: "Correo Electrónico"
          .input-group.mb-4
            .input-group-prepend
              .input-group-text
                %i.fas.fa-key
            = f.password_field :password, autofocus: true,
            autocomplete: "current-password", class: "form-control",placeholder: "Contraseña"
          .row
            .col-12.text-center.mb-4
              - if devise_mapping.rememberable?
                = f.check_box :remember_me
                %b
                  #{f.label :remember_me, "Recordarme"}
            .col-12.text-center.mb-4
              .actions
                = f.submit "Iniciar Sesión", class: "btn btn-primary px-5"
        .links.text-right
