.modal#new-price-modal{"aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}  
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5.modal-label= t('prices.new_modal.title')
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %div
      .modal-body
        = t('prices.new_modal.instruction1')
        %br
        = t('prices.new_modal.instruction2')
        .modal-footer
        = form_tag upload_prices_path, multipart: true do
          = submit_tag t('.import')
          = file_field_tag :file
        
