 .row
  .col-2.offset-md-1
    %h2= t('.title')
  .col-6
  .col-1
    = link_to prices_path do
      %i.fas.fa-undo
      = t('materials.return')
.row
  .col-md-12.col-lg-10.offset-lg-1
    %h5= t('.new_material_text')
    - if @prices.length > 0
      %table.table.table-sm.table-striped
        %thead
          %tr.bg-primary.text-light
            %th= t('prices.code')
            %th= t('prices.material')
            %th= t('materials.index.description')
            %th= "#{t('prices.price')} (#{t('currency')})"
        %tbody
          - @prices.each do |price|
            - product = price.product
            %tr
              %td= product.code
              %td= product.material.name
              %td= product.material.description
              %td= price.product_price
    - else
      .text-center.text-muted.mt-5
        %h2= t('materials.index.no_results_found')
        %br
        = image_tag "lomax-logo.png", class: 'logo-without-results'
        
             