= javascript_pack_tag "prices/index", media: "all", "data-turbolinks-track": "reload"
= render partial: "confirmation_modal"
= render partial: "new_modal"
.row
  .col-md-12.col-lg-10.offset-lg-1
    .form-row
      .col-12
        .card
          .card-header
            .row
              .col-8
                %h4.text-primary 
                  %b= t('.title')
              .col-4.text-right
                %button.btn.btn-primary{onclick: "show_new_price_modal()"}
                  = t('prices.index.new')
          .card-body
            .form-row
              .col-12.mb-2
                %b= t('prices.index.search_title')
            = search_form_for @q, url: prices_path do |f|
              .form-row
                .col-10
                  = f.text_field :material_id_cont, class: 'form-control',placeholder: t('prices.index.placeholder.search'), :disabled => true
                .col-2.text-right
                  %button.btn-block.btn.btn-purple{ type: "submit", value: "Search"}
                    %i.fas.fa-search.fa-sm
                    = t('prices.search')
    - if @products.length > 0
      %table.table.table-sm.table-striped
        %thead
          %tr.bg-primary.text-light
            %th= t('prices.code')
            %th= t('brands.name')
            %th= t('prices.material')
            %th= t('materials.description')
            %th= t('prices.measure_unit')
            %th.text-right= "#{t('prices.price')} (#{t('currency')})"
            %th
        %tbody
          - @products.each do |product|
          - material = product.find_even_if_deleted(:material)
            %tr
              %td= material.code
              %td= product.find_even_if_deleted(:brand).name
              %td= material.name
              %td= material.description
              %td= product.find_even_if_deleted(:measure_unit).name
              %td.text-right
                - price = product.price
                = form_for price do |f|
                  %span{id: "title_price_#{price.id}"}= price.prices
                  .form-row
                    .col-12
                      .input-group.d-none{id: "form_price_#{price.id}"}
                        = f.text_field(:prices,
                          required: true,
                          class: "form-control rounded-left")
                        .input-group-append
                          = f.button(class: "btn btn-primary btn-sm btn-block rounded-right",
                            name: "commit",
                            "data-disabled-with"=>t('prices.save'), value: t('prices.save')) do
                            = t('pricees.save')
              %td.text-right
                %button.btn.btn-success{onclick: "show_hide_edit_form(this)", type: "button",
                  form_target: "form_price_#{price.id}", title_target: "title_price_#{price.id}"}
                  %i.fas.fa-edit.fa-xs
                %button.btn.btn-danger{onclick: "show_confirmation_modal(this)", type: "button",
                  action: price_path(product), method: :delete}
                  %i.fas.fa-trash.fa-xs
      = paginate @products
    - else
      .text-center.text-muted.mt-5
        %h2
          No hay resultados para mostrar.   
        %br
        = image_tag "lomax-logo.png", class: 'logo-without-results'
= javascript_pack_tag "prices/index", media: "all", "data-turbolinks-track": "reload"