= javascript_pack_tag "prices/index", media: "all", "data-turbolinks-track": "reload"
= render partial: "confirmation_modal"
= render partial: "new_modal"
.row
  .col-md-12.col-lg-10.offset-lg-1
    .form-row
      .col-12
        .card
          .card-header
            .row
              .col-8
                %h4.text-primary 
                  %b= t('.title')
              .col-4.text-right
                %button.btn.btn-primary{onclick: "show_new_price_modal()"}
                  = t('prices.index.new')
          .card-body
            .form-row
              .col-12.mb-2
            = search_form_for @q, url: prices_path do |f|
              .form-row
                .col-2
                  = f.label t('.initial_price')
                  = f.search_field :price_prices_gteq, class: 'form-control'
                .col-2
                  = f.label t('.final_price')
                  = f.search_field :price_prices_lteq, class: 'form-control'
                .col-2
                  = f.label t('.material_code')
                  = f.search_field :material_code_cont, class: 'form-contrl'
                .col-3
                  = f.label t('.material_name')
                  = f.search_field :material_name_cont, class: 'form-contrl'
                .col-2.text-right
                  %button.btn-block.btn.btn-purple{ type: "submit", value: "Search"}
                    %i.fas.fa-search.fa-sm
                    = t('prices.search')
  .col-12
    - if @products.length > 0
      %table.table.table-sm.table-striped
        %thead
          %tr.bg-primary.text-light
            %th= t('prices.code')
            %th= t('prices.material')
            %th= t('prices.measure_unit')
            %th= t('prices.price')
            %th
        %tbody
          - @products.each do |product|
            %tr
              %td= Material.find(product.material_id).code
              %td= Material.find(product.material_id).name
              %td= MeasureUnit.find(product.measure_unit_id).name
              %td
                - price = product.price
                = form_for price do |f|
                  %span{id: "title_price_#{price.id}"}= price.prices
                  .form-row
                    .col-12
                      .input-group.d-none{id: "form_price_#{price.id}"}
                        = f.text_field(:prices,
                          required: true,
                          class: "form-control rounded-left")
                        .input-group-append
                          = f.button(class: "btn btn-primary btn-sm btn-block rounded-right",
                            name: "commit",
                            "data-disabled-with"=>t('prices.save'), value: t('prices.save')) do
                            = t('pricees.save')
              %td.text-right
                %button.btn.btn-success{onclick: "show_hide_edit_form(this)", type: "button",
                  form_target: "form_price_#{price.id}", title_target: "title_price_#{price.id}"}
                  %i.fas.fa-edit.fa-xs
                %button.btn.btn-danger{onclick: "show_confirmation_modal(this)", type: "button",
                  action: price_path(product), method: :delete}
                  %i.fas.fa-trash.fa-xs
      = paginate @products
    - else
      .text-center.text-muted.mt-5
        %h2
          No hay resultados para mostrar.   
= javascript_pack_tag "prices/index", media: "all", "data-turbolinks-track": "reload"