= javascript_pack_tag "prices/index", media: "all", "data-turbolinks-track": "reload"
= render partial: "confirmation_modal"
= render partial: "new_modal"
.row
  .col-lg-12.offset-xl-1.col-xl-10
    .form-row
      .col-12
        .card
          .card-header
            .row
              .col-8
                %h4.text-primary 
                  %b= t('prices.title')
              .col-4.text-right
                %button.btn.btn-primary{onclick: "show_new_price_modal()"}
                  = t('prices.new_modal.upload')
                = link_to t('prices.new'), new_price_path, class: "btn btn-primary"
                = link_to t('prices.dashboard.title'), dashboard_path, class: "btn btn-primary"
          .card-body
            .form-row.mb-2
              .col-12
                %b= t('prices.index.search_title')
            = search_form_for @q, url: prices_path do |f|
              %input{type: :hidden, name: :page_size, value: @page_size}
              .form-row
                .col-4
                  .imput-group.mb-3
                    %b= t('prices.code')
                    .input-group-prepend
                      .input-group-text
                        %i.fas.fa-barcode
                      = f.search_field :code_cont, class: 'form-control'
                .col-6
                  .imput-group.mb-3
                    %b= t('prices.material')
                    .input-group-prepend
                      .input-group-text
                        %i.fas.fa-signature
                      = f.search_field :material_name_cont, class: 'form-control'
                .col-2.text-center
                  %label 
                  %br
                  %button.btn.btn-purple{ type: "submit", value: "Search"}
                    %i.fas.fa-search.fa-sm
                    = t('prices.search')
    - if @products.length > 0
      %table.table.table-sm.table-striped
        %thead
          %tr.bg-primary.text-light
            %th= t('prices.code')
            %th= t('brands.name')
            %th= t('prices.material')
            %th= t('materials.description')
            %th= t('prices.measure_unit')
            %th.text-right= "#{t('prices.price')} (#{t('currency')})"
            %th.text-right
              %input{type: :number, min: 0,
                class: "form-control-sm", 
                placeholder: t('.page_size_placeholder'), 
                onchange: "set_page_size(this)",
                value: @page_size}
        %tbody
          - @products.each do |product|
          - material = product.find_even_if_deleted(:material)
            %tr
              %td= product.code
              %td= product.find_even_if_deleted(:brand).name
              %td= material.name
              %td= material.description
              %td= product.find_even_if_deleted(:measure_unit).name
              %td.text-right
                - price = product.price
                = form_for price do |f|
                  %span{id: "title_price_#{price.id}"}= price.product_price
                  .form-row
                    .col-12
                      .input-group.d-none{id: "form_price_#{price.id}"}
                        = f.text_field(:product_price,
                          required: true,
                          class: "form-control rounded-left")
                        .input-group-append
                          = f.button(class: "btn btn-primary btn-sm btn-block rounded-right",
                            name: "commit",
                            "data-disabled-with"=>t('prices.save'), value: t('prices.save')) do
                            = t('prices.save')
              %td.text-right
                %button.btn.btn-success.padding-0{onclick: "show_hide_edit_form(this)", type: "button",
                  form_target: "form_price_#{price.id}", title_target: "title_price_#{price.id}"}
                  %i.fas.fa-edit.fa-xs.height-width-buttom
                %button.btn.btn-danger.padding-0{onclick: "show_confirmation_modal(this)", type: "button",
                  action: price_path(product), method: :delete}
                  %i.fas.fa-trash.fa-xs.height-width-buttom
      = paginate @products
    - else
      .text-center.text-muted.mt-5
        %h2
          = t('.no_results_found')
        %br
        = image_tag "lomax-logo.png", class: 'logo-without-results'
= javascript_pack_tag "prices/index", media: "all", "data-turbolinks-track": "reload"