 
= javascript_pack_tag "prices/index", media: "all", "data-turbolinks-track": "reload"
= render partial: "confirmation_modal"
.row
  .col-2.offset-md-1
    %h2= t('prices.title')
  .col-6
    .input-group
      %input.form-control
      %span.input-group-btn
        %button.btn.border-dark{ :name => "commit", :type => "submit", :value => "Search"}
          %i.fas.fa-search
  .col-2
    %button.btn.btn-primary.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal", type: "button"}
      = t('prices.upload')
    #myModal.modal.fade{"aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
      .modal-dialog{role: "document"}
        .modal-content
          .modal-header
            %h4#myModalLabel.modal-title{style: "text-align: left"}= t('prices.upload')
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
            %span{"aria-hidden" => "true"} X
          .modal-body
            = t('.instruction1')
            %br
            = t('.instruction2')
          .modal-footer
            = form_tag upload_prices_path, multipart: true do
              = submit_tag t('.import')
              = file_field_tag :file
    -#%button.btn.btn-primary.btn-lg{action: }
      %i.fas.fa-download.fa-xs.text-white 
      Excel
.row
  .col-12
    %table.table.table-sm.table-striped
      %thead
        %tr.bg-primary.text-light
          %th= t('prices.code')
          %th= t('prices.material')
          %th= t('prices.measure_unit')
          %th= t('prices.price')
          %th
      %tbody
        - @products.each do |product|
          %tr
            %td= Material.find(product.material_id).code
            %td= Material.find(product.material_id).name
            %td= MeasureUnit.find(product.measure_unit_id).name
            %td
              - price = product.price
              = form_for price do |f|
                = f.text_field :prices, :value => product.price.prices, class: 'form-control-sm'
                = f.submit t('prices.save'), class: 'btn btn-success '
            %td 
              %button.btn.btn-danger.btn-sm{onclick: "show_confirmation_modal(this)",
                    action: price_path(product),
                    method: :delete}
                %i.fas.fa-trash.fa-xs.text-white
    = paginate @products      