.modal#edit-brand-modal{:role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5.modal-title= t('brands.new.edit_brand')
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
      %div
        = form_for @brand, method: :put, html:{id: "edit_brand"} do |f|
          .modal-body
            .row
              .col-12
                .form-row.mb-2
                  = f.label :name, t('brands.name'), class: "mb-0 text-primary font-weight-bold"
                  = f.text_field :name, class: "form-control form-control-sm", required: true
                .form-row.actions.text-right
                  .col-12
          .modal-footer
            = f.submit t('brands.save'), class: "btn btn-primary btn-sm"
            %button.btn.btn-secondary.btn-sm{"data-dismiss" => "modal", :type => "button"}= t('brands.cancel')