= javascript_include_tag "brands/index", media: "all", "data-turbolinks-track": "reload"
= javascript_include_tag "utils/paging_handler", media: "all", "data-turbolinks-track": "reload"
= javascript_include_tag "utils/inline_form_handler", media: "all", "data-turbolinks-track": "reload"
= render partial: "confirmation_modal"
= render partial: "new_modal"
.row
  .col-lg-12.offset-xl-1.col-xl-10
    .form-row
      .col-12
        .card
          .card-header
            .row
              .col-8
                %h4.text-primary 
                  %b= t('brands.title')
              .col-4.text-right
                %button.btn.btn-primary{onclick: "show_new_brand_modal()"}
                  = t('brands.index.new')
          .card-body
            .form-row.mb-2
              .col-12
                %b.font-size-search= t('brands.index.search_title')
            = search_form_for @q, url: brands_path do |f|
              %input{type: :hidden, name: :page_size, value: @page_size}
              .form-row
                .col-10
                  %b.color-search-title= t('brands.index.search_name')
                  .input-group-prepend
                    .input-group-text
                      %i.fas.fa-copyright
                    = f.text_field :name_cont, class: 'form-control'
                .col-2.text-right.button-margin-top
                  %button.btn-block.btn.btn-purple{ type: "submit", value: "Search"}
                    %i.fas.fa-search.fa-sm
                    = t('brands.search')
    - if @brands.length > 0
      %table.table.table-sm.table-striped
        %thead
          %tr.bg-primary.text-light
            %th= t('brands.index.name')
            %th.text-right
              %input{type: :number, min: 0, 
                class: "form-control-sm", 
                placeholder: t('.page_size_placeholder'), 
                onchange: "set_page_size(this)",
                value: @page_size}
        %tbody#brands-body
          - @brands.each do |brand|
            %tr
              %td
                %span{id: "title_brand_#{brand.id}"}= brand.name
                = form_for brand do |f|
                  .form-row
                    .col-12
                      .input-group.d-none{id: "form_brand_#{brand.id}"}
                        = f.text_field(:name,
                          required: true,
                          class: "form-control rounded-left")
                        .input-group-append
                          = f.button(class: "btn btn-primary btn-sm btn-block rounded-right",
                            name: "commit",
                            "data-disabled-with"=>t('brands.save'), value: t('brands.save')) do
                            = t('brands.save')
              %td.text-right
                %button.btn.btn-success.btm-sm.padding-0{onclick: "show_hide_edit_form(this)", type: "button",
                  form_target: "form_brand_#{brand.id}", title_target: "title_brand_#{brand.id}"}
                  %i.fas.fa-edit.fa-xs.height-width-buttom
                %button.btn.btn-danger.btm-sm.padding-0{onclick: "show_confirmation_modal(this)",
                  action: brand_path(brand),
                  method: :delete}
                  %i.fas.fa-trash-alt.fa-xs.height-width-buttom
      = paginate @brands
    - else
      .text-center.text-muted.mt-5
        %h2= t('brands.index.no_results_found')
        %br
        = image_tag "lomax-logo.png", class: 'logo-without-results'