= render partial: "confirmation_modal"
= render partial: "new_modal"
.row
  .col-md-12.col-lg-10.offset-lg-1.col-xl-8.offset-xl-2
    .form-row.mb-3
      .col-10
        %h4.text-primary 
          %b= t('brands.index.title')
      .col-2.text-right
        %button.btn.btn-primary{onclick: "show_new_brand_modal()"}
          = t('brands.index.new')
    .form-row
      .col-12
        .card
          .card-header
            %b= t('brands.index.search_title')
          .card-body
            = search_form_for @q, url: brands_path do |f|
              .form-row
                .col-10
                  = f.text_field :name_cont, class: 'form-control',placeholder: t('brands.index.placeholder.search')
                .col-2.text-right
                  %button.btn-block.btn.btn-purple{ type: "submit", value: "Search"}
                    %i.fas.fa-search.fa-sm
                    = t('brands.search')
    - if @brands.length > 0
      %table.table.table-sm.table-striped
        %thead{onclick: "hide_all_edit_forms()"}
          %tr.bg-primary.text-light
            %th= t('brands.name')
            %th
        %tbody#brands-body
          - @brands.each do |brand|
            %tr
              %td
                %a{"data-toggle"=>"tooltip",
                  "data-placement"=>"top", 
                  title: t('brands.index.tooltip.edit_brand'), 
                  href: "javascript:void(0);", 
                  onclick: "show_hide_edit_form(this)", 
                  edit_form_target: "form_brand_#{brand.id}",
                  rel:"nofollow"}
                  = brand.name
                = form_for brand do |f|
                  .form-row
                    .col-12
                      .input-group.d-none{id: "form_brand_#{brand.id}"}
                        = f.text_field(:name,
                          required: true,
                          class: "form-control rounded-left")
                        .input-group-append
                          = f.button(class: "btn btn-primary btn-sm btn-block rounded-right",
                            name: "commit",
                            "data-disabled-with"=>t('brands.save'), value: t('brands.save')) do
                            = t('brands.save')
              %td.text-right
                %button.close{onclick: "show_confirmation_modal(this)",
                  action: brand_path(brand),
                  method: :delete,
                  "data-toggle"=>"tooltip",
                  "data-placement"=>"top", 
                  title: t('brands.index.tooltip.delete_brand')}
                  &times;
      = paginate @brands
    - else
      .text-center.text-muted.mt-5
        %h2= t('brands.index.no_results_found')
= javascript_pack_tag "brands/index", media: "all", "data-turbolinks-track": "reload"