= javascript_pack_tag "measure_units/index", media: "all", "data-turbolinks-track": "reload"
= render partial: "confirmation_modal"
.row
  .col-lg-12.offset-xl-1.col-xl-10
    .form-row
      .col-12
        .card
          .card-header
            .row
              .col-8
                %h4.text-primary 
                  %b= t('.title')
              .col-4.text-right
                = link_to t('.new'), new_measure_unit_path, class: "btn btn-primary"
          .card-body
            .form-row.mb-2
              .col-12
                %b.font-size-search= t('measure_units.index.search_title')
            = search_form_for @q, url: measure_units_path do |f|
              %input{type: :hidden, name: :page_size, value: @page_size}
              .form-row
                .col-10
                  %b.color-search-title= t('measure_units.index.search_name')
                  .input-group-prepend
                    .input-group-text
                      %i.fas.fa-ruler-combined
                    = f.text_field :name_cont, class: 'form-control'
                .col-2.text-right.button-margin-top
                  %button.btn-block.btn.btn-purple{ type: "submit", value: "Search"}
                    %i.fas.fa-search.fa-sm
                    = t('measure_units.search')
    - if @measure_units.length > 0
      %table.table.table-sm.table-striped
        %thead
          %tr.bg-primary.text-light
            %th= t('measure_units.name')
            %th= t('measure_units.unit_type')
            %th.text-right
              %input{type: :number, min: 0,
                class: "form-control-sm", 
                placeholder: t('.page_size_placeholder'), 
                onchange: "set_page_size(this)",
                value: @page_size}
          %tbody#measure_units-body
          - @measure_units.each do |measure_unit|
            %tr
              %td 
                %span{id: "title_measure_unit_#{measure_unit.id}"}= measure_unit.name
              %td 
                %span{id: "title_measure_unit_#{measure_unit.id}"}= measure_unit.unit_type
              %td.text-right
                %button.btn.btn-success.btm-sm.padding-0
                  = link_to edit_measure_unit_path(measure_unit) do
                    %i.fas.fa-edit.fa-xs.text-white.height-width-buttom
                %button.btn.btn-danger.btm-sm.padding-0{onclick: "show_confirmation_modal(this)",
                  action: measure_unit_path(measure_unit),
                  method: :delete}
                  %i.fas.fa-trash-alt.fa-xs.height-width-buttom
      = paginate @measure_units
    - else
      .text-center.text-muted.mt-3
        %h2= t('measure_units.index.no_results_found')
        %br
        = image_tag "lomax-logo.png", class: 'logo-without-results'

