.row
  .col 
    .form-row.mb-3
      .col-2.my-auto
        %h4.text-primary= t('.title')
      .col-8
        = search_form_for @q do |f|
          .input-group
            = f.text_field :name_cont, class: 'form-control'
            %span.input-group-btn
              %button.btn.border-dark{ :name => "commit", :type => "submit", :value => "Search"}
                %i.fas.fa-search
      .col-2.text-right
        = link_to t('.new'), new_measure_unit_path, class: "btn btn-primary"
    %table.table.table-sm.table-striped
      %thead
        %tr.bg-primary.text-light
          %th= t('measure_units.name')
          %th= t('measure_units.unit_type')
          %th
      %tbody
        - @measure_units.each do |measure_unit|
          %tr
            %td= measure_unit.name
            %td= measure_unit.unit_type
            %td.text-right
              %button.btn.btn-success.btm-sm
                = link_to edit_measure_unit_path(measure_unit) do
                  %i.fas.fa-edit.fa-xs.text-white
              %button.btn.btn-danger.btm-sm
                = link_to measure_unit, method: :delete, data: { confirm: '¿Estas seguro de eliminarlo' } do
                  %i.fas.fa-trash-alt.fa-xs.text-white
    = paginate @measure_units
