.row
  .col-12.col-md-10.offset-md-1
    .form-row.mb-3
      .col-3
        %h4.text-primary= t('.measuretitle')
      .col-6
        .input-group.mb-3
          .input-group-prepend
            .input-group-text.border-dark
              %i.fas.fa-search
          %input.form-control.form-control-sm.border.border-dark{placeholder: t('.search') }
      .col-3
        = link_to t('.newmeasure'), new_measure_unit_path, class: "btn btn-primary"
    %table.table.table-sm.table-striped
      %thead
        %tr.bg-primary.text-light
          %th= t('.name')
          %th= t('.unit_type')
          %th
      %tbody

    -# @measure_units.each do |measure_unit|
      %tr
        %td= measure_unit.name
        %td= measure_unit.unit_type
        %td= link_to 'Show', measure_unit
        %td= link_to 'Edit', edit_measure_unit_path(measure_unit)
        %td= link_to 'Destroy', measure_unit, method: :delete, data: { confirm: 'Are you sure?' }
