%p#notice= notice

%p
  %b= t('measure_units.name')
  = @measure_unit.name
%p
  %b= t('measure_units.unit_type')
  = @measure_unit.unit_type

= link_to t('.edit'), edit_measure_unit_path(@measure_unit)
\|
= link_to t('.back'), measure_units_path
