= form_for @material do |f|
  .form-row.mb-2
    .col-12
      = f.label :name, class:"mb-0 text-primary font-weight-bold font-weight-bold"
      .input-group.mb-2
        .input-group-prepend
          .input-group-text
            %i.fas.fa-hammer
        = f.text_field :name, required: true, class: "form-control form-control-sm"
  .form-row.mb-2
    = f.label :description, class: "mb-0 text-primary font-weight-bold"
    = f.text_area :description, class: "form-control form-control-sm"
  .form-row.actions.text-right
    .col-12
      = f.submit t('materials.save'), class: "btn btn-primary btn-sm px-2"