.card
  .card-header
    .row
      .col-6
        %h4.text-primary
          %b= t('materials.new.new_material')
      .col-6.text-right
        = link_to materials_path do
          %i.fas.fa-undo
          = t('materials.return')
  .card-body
    = form_for @material do |f|
      .form-row.mb-2
        .col-3
          = f.label :code, class: "mb-0 text-primary font-weight-bold font-weight-bold"
          .input-group.mb-2
            .input-group-prepend
              .input-group-text
                %i.fas.fa-font
            = f.text_field :code, required: true, class: "form-control form-control-sm"
        .col-9
          = f.label :name, class:"mb-0 text-primary font-weight-bold font-weight-bold"
          .input-group.mb-2
            .input-group-prepend
              .input-group-text
                %i.fas.fa-pencil-alt
            = f.text_field :name, required: true, class: "form-control form-control-sm"
      .form-row.mb-2
        = f.label :description, class: "mb-0 text-primary font-weight-bold"
        = f.text_area :description, class: "form-control form-control-sm"
      .form-row.actions.text-right
        .col-12
          = f.submit t('materials.save'), class: "btn btn-primary btn-sm px-2"
