.row
  .col
    .form-row.mb-3
      .col-2.my-auto
        %h4.text-primary Materiales
      .col-8
        = search_form_for @q do |f|
          .input-group
            = f.text_field :name_cont, class: 'form-control'
            %span.input-group-btn
              %button.btn.border-dark{ :name => "commit", :type => "submit", :value => "Search"}
                %i.fas.fa-search
      .col-2.text-right
        = link_to 'Nuevo Material', new_material_path, class: "btn btn-primary"
    %table.table.table-sm.table-striped
      %thead
        %tr.bg-primary.text-light
          %th Código
          %th Nombre
          %th Descripción
          %th
      %tbody
        %tr
        - @materials.each do |material|
          %tr
            %td= material.code
            %td= material.name
            %td= material.description
            %td.text-right
              %button.btn.btn-success.btm-sm
                = link_to edit_material_path(material) do
                  %i.fas.fa-edit.fa-xs.text-white
              %button.btn.btn-danger.btm-sm
                = link_to material, method: :delete, data: { confirm: "¿Estas seguro de eliminar #{material.name}?" } do
                  %i.fas.fa-trash-alt.fa-xs.text-white
    = paginate @materials
