%nav.navbar.navbar-expand-lg.bg-nav-color
  %a.navbar-brand.color-nav-icon{:href => "/dashboards"}
    = image_tag "lomax-logo.png", alt: "logo", class: "nav-image"
  %button.navbar-light.navbar-toggler{"aria-controls" => "navbarSupportedContent",
    "aria-expanded" => "false",
    "aria-label" => "Toggle navigation",
    "data-target" => "#navbarSupportedContent",
    "data-toggle" => "collapse",
    :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        = link_to t('clients.title'), clients_path, id: 'color-nav', class: 'nav-link' 
      %li.nav-item
        = link_to t('services.title'), services_path, id: 'color-nav', class: 'nav-link'
      %li.nav-item.dropdown
        %a#color-nav.nav-link.dropdown-toggle{"aria-expanded" => "false",
          "aria-haspopup" => "true",
          "data-toggle" => "dropdown",
          :href => "#",
          :role => "button"}
          = t('materials.title')
        .dropdown-menu{"aria-labelledby" => "nav-dropdown-prices"}
          .dropdown-item
            = link_to materials_path do
              %i.fas.fa-hammer &nbsp;
              = t('materials.title')
          .dropdown-item
            = link_to brands_path do
              %i.fas.fa-copyright
              = t('brands.title')
          .dropdown-item
            = link_to measure_units_path do
              %i.fas.fa-ruler-combined
              = t('measure_units.title')
          .dropdown-item
            = link_to products_path do
              %i.fas.fa-dollar-sign
              = t('prices.title')
        %li.nav-item
          = link_to t('quotations.index.title'), quotations_path, id: 'color-nav', class: 'nav-link' 
        %li.nav-item
          = link_to t('dashboards.title_nav'), dashboards_path, id: 'color-nav', class: 'nav-link' 
    %form.form-inline.my-2.my-lg-0
      = link_to users_registrations_path, id: 'color-nav', class: "mr-3" do
        %i.fas.fa-users
        = t('users.registrations.index.title')
      = link_to user_account_path, id: 'color-nav', class: "mr-3" do
        %i.fas.fa-user-circle
        = t('users.registrations.account.account')
      = link_to t('users.registrations.account.logout'),
        destroy_user_session_path,
        method: :delete,
        class: "btn btn-outline-primary my-2 my-sm-0",
        id: "color-nav"