.card
  .card-header
    .row
      .col-6
        %h4.text-primary
          %b= t('products.index.new')
      .col-6.text-right
        = link_to products_path do
          %i.fas.fa-undo
          = t('products.return')
  .card-body
    = form_for @product, url: products_path do |f|
      = f.fields_for :price do |nested_form|
        .form-row.mb-2
          .col-12
            = f.label :code, class: "mb-0 text-primary font-weight-bold "
            = f.text_field :code, value: @product.code, readonly: true, class: "form-control"
        .form-row.mb-2
          .col-3
            = f.label :brand_id,  class: "mb-0 text-primary font-weight-bold "
            = f.select :brand_id, Brand.all.order(name: 'asc').collect {|b| [b.name, b.id] },{:prompt => :brand_id}, {class:"form-control"}
          .col-6
            = f.label :material_id,  class: "mb-0 text-primary font-weight-bold "
            = f.select :material_id, Material.all.order(name: 'asc').collect {|m| [m.name, m.id] }, {:prompt => :material_id},{class:"form-control"}
          .col-3
            = f.label :measure_unit_id,  class: "mb-0 text-primary font-weight-bold "
            = f.select :measure_unit_id, MeasureUnit.order(name: 'asc').all.collect {|m| [m.name, m.id] }, {:prompt => :measure_unit_id},{class:"form-control"}
        .form-row.mb-2
          .col-12
            =nested_form.label :product_price, class:"mb-0 text-primary font-weight-bold"
            .input-group.mb-2
              .input-group-prepend
                .input-group-text
                  %i.fas.fa-coins
              = nested_form.number_field :product_price, class: "form-control form-control-sm", required: true, step: 0.01
        .form-row.actions.text-right
          .col-12
            = f.submit t('products.save'), class: "btn btn-primary"
