.modal#new-price-modal{"aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}  
  .modal-dialog{:role => "document"}
    .modal-content
      = form_tag upload_path, multipart: true do
        .modal-header
          %h5.modal-label= t('products.new_modal.title')
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &times;
          %div
        .modal-body
          = t('products.new_modal.instruction1')
          %br
          = t('products.new_modal.instruction2')
          %br.my-1
          = file_field_tag :csv_file
          .modal-footer
            .text-right
              = submit_tag t('.import'), class: 'btn btn-primary'
        
