!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Project Manager
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-lg.bg-gray
      %a.navbar-brand{:href => "/"}
        %i.fas.fa-home.fa-lg
      %button.navbar-light.navbar-toggler{"aria-controls" => "navbarSupportedContent",
        "aria-expanded" => "false",
        "aria-label" => "Toggle navigation",
        "data-target" => "#navbarSupportedContent",
        "data-toggle" => "collapse",
        :type => "button"}
        %span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          %li.nav-item
            = link_to 'Clientes', clients_path, class: 'nav-link'
          %li.nav-item
            = link_to 'Servicios', services_path, class: 'nav-link'
          %li.nav-item.dropdown
            %a#nav-dropdown-prices.nav-link.dropdown-toggle{"aria-expanded" => "false",
              "aria-haspopup" => "true",
              "data-toggle" => "dropdown",
              :href => "#",
              :role => "button"}
              Productos
            .dropdown-menu{"aria-labelledby" => "nav-dropdown-prices"}
              .dropdown-item
                = link_to measure_units_path do
                  %i.nav-link.fas.fa-ruler-combined
                  Unidades de Medida
              .dropdown-item
                = link_to brands_path do
                  %i.nav-link.fas.fa-copyright
                  Marcas
              .dropdown-item
                = link_to materials_path do
                  %i.nav-link.fas.fa-hammer
                  Materiales
              .dropdown-item
                = link_to prices_path do
                  %i.nav-link.fas.fa-dollar-sign
                  Precios
          %li.nav-item.dropdown
            %a#nav-dropdown-quotations.nav-link.dropdown-toggle{"aria-expanded" => "false",
              "aria-haspopup" => "true",
              "data-toggle" => "dropdown",
              :href => "#",
              :role => "button"}
              Cotizaciones
            .dropdown-menu{"aria-labelledby" => "nav-dropdown-quotations"}
              .dropdown-item
                = link_to quotations_path do
                  %i.fas.fa-tasks
                  Administrar
              %a.dropdown-item{:href => "#"}
                %i.fas.fa-history
                Historial
              %a.dropdown-item{:href => "#"}
                %i.fas.fa-eraser
                Eliminadas
        %form.form-inline.my-2.my-lg-0
          = link_to users_registrations_path, class: "mr-3" do
            %i.fas.fa-users
            Usuarios
          = link_to account_path, class: "mr-3" do
            %i.fas.fa-user-circle
            Mi Cuenta
          = link_to 'Cerrar Sesión',
            destroy_user_session_path,
            method: :delete,
            class: "btn btn-outline-primary my-2 my-sm-0"
    .container-fluid
      %p.notice= notice
      %p.alert= alert
      = yield
