!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= t('title')
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if notice || alert
      = render partial: "notifications"
    = render partial: "navbar"
    .container-fluid.pb-5.pt-5
      = yield