.card.card-body
  = form_for @user, url: users_registrations_path do |f|
    = f.fields_for :user_detail do |nested_form|
      .form-row.mb-2
        .col-4.offset-4.text-center
          .i.fas.fa-portrait.fa-10x
      .form-row.mb-2
        = nested_form.label :name, class:"mb-0 text-primary font-weight-bold"
        = nested_form.text_field :name, class: "form-control form-control-sm"
      .form-row.mb-2
        = nested_form.label :last_name, class:"mb-0 text-primary font-weight-bold"
        = nested_form.text_field :last_name, class: "form-control form-control-sm"
      .form-row.mb-2
        .col-6
          = f.label :email, class: "mb-0 text-primary font-weight-bold"
          %span.form-control.form-control-sm.text-muted= @user.email
        .col-6
          = nested_form.label :phone,  class: "mb-0 text-primary font-weight-bold"
          = nested_form.text_field :phone, class: "form-control form-control-sm"
      .form-row.mb-2
        .col-6
          = f.label :password,  class: "mb-0 text-primary font-weight-bold"
          = f.password_field :password, class: "form-control form-control-sm"
        .col-6
          = f.label :password_confirmation, class: "mb-0 text-primary font-weight-bold"
          = f.password_field :password_confirmation, class: "form-control form-control-sm"
      .form-row.mb-2
        .col-6
          = f.label :role,  class: "mb-0 text-primary font-weight-bold"
          %span.form-control.form-control-sm.text-muted= @user.role.capitalize
      .form-row.actions.text-right
        .col-12
          = f.submit t('users.save'), class: "btn btn-primary btn-sm px-2"