.card.card-body
  = form_with scope: :user, url: users_registrations_path do |f|
    - if @user.errors.any?
      #error_explanation
        %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
        %ul
          - @user.errors.full_messages.each do |message|
            %li= message
    .form-row.mb-2
      = f.label :name, class:"mb-0 text-primary font-weight-bold"
      = f.text_field :name, class: "form-control form-control-sm"
    .form-row.mb-2
      .col-6
        = f.label :email, class: "mb-0 text-primary font-weight-bold"
        = f.email_field :email, class: "form-control form-control-sm"
      .col-6
        = f.label :user_type, class: "mb-0 text-primary font-weight-bold"
        %select.form-control.form-control-sm
          %option Administrador
          %option Cotizador
    .form-row.actions
      .col-6
        %button.btn.btn-danger.btn-sm Reiniciar Contraseña
      .col-6.text-right
        = f.submit t('.save'), class: "btn btn-primary btn-sm px-2"