.card.card-body
  = form_with scope: @user, url: users_registration_path, method: :put do |f|
    - if @user.errors.any?
      #error_explanation
        %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
        %ul
          - @user.errors.full_messages.each do |message|
            %li= message
    .form-row.mb-2
      = f.label  t('.name'), class:"mb-0 text-primary font-weight-bold", for:"user_detail_name"
      %input{class: "form-control form-control-sm",
        name:"user_detail[name]",
        id:"user_detail_name",
        required: true,
        value: @user.user_detail.name}
    .form-row.mb-2
      = f.label  t('.lastname'), class:"mb-0 text-primary font-weight-bold", for:"user_detail_last_name"
      %input{class: "form-control form-control-sm",
        name:"user_detail[last_name]",
        id:"user_detail_last_name",
        value: @user.user_detail.last_name}
    .form-row.mb-2
      = f.label  t('users.phone'), class:"mb-0 text-primary font-weight-bold", for:"user_detail_phone"
      %input{class: "form-control form-control-sm",
        name:"user_detail[phone]",
        id:"user_detail_phone",
        value: @user.user_detail.phone}
    .form-row.mb-2
      .col-6
        = f.label :email, class: "mb-0 text-primary font-weight-bold"
        %span.form-control.form-control-sm
          = @user.email
      .col-6
        = f.label :user_type, class: "mb-0 text-primary font-weight-bold"
        = f.select(:role,
          options_for_select(User.roles.keys, @user.role),
          {include_blank: t('users.registrations.new.role_blank')},
          { class: "form-control form-control-sm", required: true })
    .form-row.actions
      .col-6
        -# %button.btn.btn-danger.btn-sm Reiniciar Contraseña
      .col-6.text-right
        = f.submit t('users.save'), class: "btn btn-primary btn-sm px-2"