.card.card-body
  = form_with scope:@user, url: users_registrations_path do |f|
    - if @user.errors.any? || @user_detail.errors.any?
      #error_explanation
        - error_count = @user.errors.count + @user_detail.errors.count
        %h2= "#{pluralize(error_count, "error")} prohibited this user from being saved:"
        %ul
          - @user.errors.full_messages.each do |message|
            %li= message
          - @user_detail.errors.full_messages.each do |message|
            %li = message
    .form-row.mb-2
      = f.label "Nombre(s)", class:"mb-0 text-primary font-weight-bold", for: "user_detail_name"
      %input{ type:"text", class: "form-control form-control-sm", name: "user_detail[name]", id: "user_detail_name" }
    .form-row.mb-2
      = f.label "Apellidos(s)", class:"mb-0 text-primary font-weight-bold", for: "user_detail_name"
      %input{ type:"text", class: "form-control form-control-sm", name: "user_detail[last_name]", id: "user_detail_last_name" }
    .form-row.mb-2
      = f.label "Teléfono", class:"mb-0 text-primary font-weight-bold", for: "user_detail_phone"
      %input{ type:"text", class: "form-control form-control-sm", name: "user_detail[phone]", id: "user_detail_phone" }
    .form-row.mb-2
      .col-6
        = f.label :email, "Correo Electrónico", class: "mb-0 text-primary font-weight-bold"
        = f.email_field :email, class: "form-control form-control-sm"
      .col-6
        = f.label :role, "Rol", class: "mb-0 text-primary font-weight-bold"
        %select.form-control.form-control-sm{ name: "user[role]", id: "user_role" }
          - User.roles.each do |key,value|
            %option{:value => key}
              = value
    .form-row.mb-2
      = f.label :password, "Contraseña", class: "mb-0 text-primary font-weight-bold"
      = f.password_field :password, class: "form-control form-control-sm"
    .form-row.mb-2
      = f.label :password_confirmation, "Confirmar Contraseña", class: "mb-0 text-primary font-weight-bold"
      = f.password_field :password_confirmation, class: "form-control form-control-sm"
    .form-row.actions.text-right
      .col-12
        = f.submit 'Guardar', class: "btn btn-primary btn-sm px-2"