= javascript_pack_tag "users/registrations/edit", media: "all", "data-turbolinks-track": "reload"
= render partial: "edit_reset_password_confirmation_modal"
.row
  .col-12.col-md-10.offset-md-1.col-lg-6.offset-lg-3
    .row
      .col-6
        %h4.text-primary= t('.edit_user')
      .col-6.text-right
        = link_to users_registrations_path do
          %i.fas.fa-undo
          = t('users.return')
      .col-12.mt-2
        = render 'edit_form'