= javascript_pack_tag "registrations", media: "all", "data-turbolinks-track": "reload"
= render partial: "confirmation_modal"
.row
  .col-12
    .form-row.mb-3
      .col-2.my-auto
        %h4.text-primary Usuarios
      .col-8
        = search_form_for @q, url: users_registrations_path do |f|
          .input-group.mb-3
            = f.text_field :email_cont, class: 'form-control  border border-dark',placeholder: "Buscar Usuario"
            .input-group-append
              %button.btn.border-dark.border-left-0{ type: "submit", value: "Search"}
                %i.fas.fa-search.fa-sm
      .col-2.text-right
        = link_to "Nuevo Usuario", new_users_registration_path, class: "btn btn-primary"
    - if @users.length > 0
      %table.table.table-sm.table-striped
        %thead
          %tr.bg-primary.text-light
            %th Correo (Usuario)
            %th Nombre
            %th Teléfono
            %th Tipo
            %th
        %tbody
        - data = @users.page(@current_page)
        - @total_pages = data.total_pages
        - if data.out_of_range?
          - data = User.page(@total_pages)
        - data.each do |user|
          - user_detail = user.user_detail
          %tr
            %td
              = user.email
            %td 
              = user_detail.name
              = user_detail.last_name
            %td
              = user_detail.phone
            %td
              = User.role_index_to_string(user.role)
            %td.text-right
              = link_to edit_users_registration_path(user), class: "btn btn-success btm-sm mr-1" do
                %i.fas.fa-edit.fa-xs
              %button.btn.btn-danger.btm-sm{onclick: "show_confirmation_modal(this)",
                action: users_registration_path(user),
                method: :delete}
                %i.fas.fa-trash-alt.fa-xs
      %nav{"aria-label" => "Page navigation example"}
        %ul.pagination.justify-content-center
          %li.page-item
            - if @current_page > 1
              = link_to users_registrations_path(q: @query_params, page: @current_page-1), class: "page-link", "aria-label"=>"Previous" do
                %span{"aria-hidden" => "true"} «
                %span.sr-only Previous
            - else
              %a.page-link{href: "#","aria-label"=>"Previous"}
                %span{"aria-hidden" => "true"} «
                %span.sr-only Previous
          - paging_array(@current_page, @total_pages).each do |key,value|
            - if value
              %li.page-item.active
                = link_to users_registrations_path(q: @query_params, page: key), class: "page-link" do
                  = key
            - else
              %li.page-item
                = link_to users_registrations_path(q: @query_params, page: key), class: "page-link" do
                  = key
          %li.page-item
            - if @current_page < @total_pages
              = link_to users_registrations_path(q: @query_params, page: @current_page+1), class: "page-link", "aria-label"=>"Next" do
                %span{"aria-hidden" => "true"} »
                %span.sr-only Next
            - else
              %a.page-link{href: "#","aria-label"=>"Next"}
                %span{"aria-hidden" => "true"} »
                %span.sr-only Next
    - else
      .text-center.text-muted.mt-5
        %h2
          No hay resultados para mostrar.