= javascript_pack_tag "users/registrations/index", media: "all", "data-turbolinks-track": "reload"
= render partial: "confirmation_modal"
.row
  .col-12
    .form-row.mb-3
      .col-2.my-auto
        %h4.text-primary= t('.title')
      .col-8
        = search_form_for @q, url: users_registrations_path do |f|
          .input-group.mb-3
            = f.text_field :email_cont, class: 'form-control  border border-dark',placeholder: "Buscar Usuario"
            .input-group-append
              %button.btn.border-dark.border-left-0{ type: "submit", value: t('.search')}
                %i.fas.fa-search.fa-sm
      .col-2.text-right
        = link_to t('.new'), new_users_registration_path, class: "btn btn-primary"
    - if @users.length > 0
      %table.table.table-sm.table-striped
        %thead
          %tr.bg-primary.text-light
            %th= t('users.email')
            %th= t('users.name')
            %th= t('users.phone')
            %th= t('users.role')
            %th
        %tbody
        - @users.each do |user|
          - user_detail = user.user_detail
          %tr
            %td
              = user.email
            %td 
              = user_detail.name
              = user_detail.last_name
            %td
              = user_detail.phone
            %td
              = user.role.capitalize
            %td.text-right
              = link_to edit_users_registration_path(user), class: "btn btn-success btm-sm mr-1" do
                %i.fas.fa-edit.fa-xs
              %button.btn.btn-danger.btm-sm{onclick: "show_confirmation_modal(this)",
                action: users_registration_path(user),
                method: :delete}
                %i.fas.fa-trash-alt.fa-xs
      = paginate @users
    - else
      .text-center.text-muted.mt-5
        %h2
          No hay resultados para mostrar.