.row
  .col-12.col-md-10.offset-md-1
    .form-row.mb-3
      .col-2.my-auto
        %h4.text-primary= t('.usertitle')
      .col-8
        .input-group.mb-3
          .input-group-prepend
            .input-group-text.border-dark
              %i.fas.fa-search
          %input.form-control.form-control-sm.border.border-dark{placeholder: t('.search')}
      .col-2
        = link_to t('.newuser'), new_users_registration_path, class: "btn btn-primary btn-sm"
    %table.table.table-sm.table-striped
      %thead
        %tr.bg-primary.text-light
          %th= t('.name')
          %th= t('.email')
          %th= t('.role')
          %th
      %tbody
        %tr
          %td Luis Donis
          %td ldonis@lomax.com.gt
          %td Administrador
          %td.text-right
            = link_to edit_users_registration_path(id: 1), class: "btn btn-success btm-sm mr-1" do
              %i.fas.fa-edit.fa-xs
            %button.btn.btn-danger.btm-sm
              %i.fas.fa-trash-alt.fa-xs
        %tr
          %td Rodolfo Rodas
          %td rrodas@lomax.com.gt
          %td Administrador
          %td.text-right
            = link_to edit_users_registration_path(id: 1), class: "btn btn-success btm-sm mr-1" do
              %i.fas.fa-edit.fa-xs
            %button.btn.btn-danger.btm-sm
              %i.fas.fa-trash-alt.fa-xs
        %tr
          %td Josue Mente
          %td jmente@lomax.com.gt
          %td Administrador
          %td.text-right
            = link_to edit_users_registration_path(id: 1), class: "btn btn-success btm-sm mr-1" do
              %i.fas.fa-edit.fa-xs
            %button.btn.btn-danger.btm-sm
              %i.fas.fa-trash-alt.fa-xs