= javascript_pack_tag "registrations", media: "all", "data-turbolinks-track": "reload"
= render partial: "confirmation_modal"
.row
  .col-12.col-md-10.offset-md-1
    .form-row.mb-3
      .col-2.my-auto
        %h4.text-primary Usuarios
      .col-8
        .input-group.mb-3
          .input-group-prepend
            .input-group-text.border-dark
              %i.fas.fa-search
          %input.form-control.form-control-sm.border.border-dark{placeholder: "Buscar Usuario" }
      .col-2
        = link_to "Nuevo Usuario", new_users_registration_path, class: "btn btn-primary btn-sm"
    %table.table.table-sm.table-striped
      %thead
        %tr.bg-primary.text-light
          %th Nombre
          %th Correo
          %th Tipo
          %th
      %tbody
      - User.all.each do |user|
        %tr
          %td 
            = user.user_detail.name
            = user.user_detail.last_name
          %td
            = user.email
          %td
            = user.role.name
          %td.text-right
            = link_to edit_users_registration_path(user), class: "btn btn-success btm-sm mr-1" do
              %i.fas.fa-edit.fa-xs
            %button.btn.btn-danger.btm-sm{onclick: "show_confirmation_modal(this)",
              action: users_registration_path(user),
              method: :delete}
              %i.fas.fa-trash-alt.fa-xs