= javascript_pack_tag "users/registrations/index", media: "all", "data-turbolinks-track": "reload"
= render partial: "confirmation_modal"
.row
  .col-lg-12.offset-xl-1.col-xl-10
    .form-row
      .col-12
        .card
          .card-header
            .row
              .col-8
                %h4.text-primary
                  %b= t('.title')
              .col-4.text-right
                = link_to t('.new'), new_users_registration_path, class: "btn btn-primary"
          .card-body
            .form-row.mb-2
              .col-12
                %b= t('.search_title')
            = search_form_for @q, url: users_registrations_path do |f|
              %input{type: :hidden, name: :page_size, value: @page_size}
              .form-row
                .col-10
                  = f.text_field :email_cont, class: 'form-control',placeholder: t('.placeholder.search')
                .col-2.text-right
                  %button.btn-block.btn.btn-purple{ type: "submit", value: "Search"}
                    %i.fas.fa-search.fa-sm
                    = t('.search')
    - if @users.length > 0
      %table.table.table-sm.table-striped
        %thead
          %tr.bg-primary.text-light
            %th= t('users.avatar')
            %th= t('users.email')
            %th= t('users.name')
            %th= t('users.phone')
            %th= t('users.role')
            %th.text-right
              %input{type: :number, min: 0, 
                url: users_registrations_url, 
                class: "form-control-sm", 
                placeholder: t('.page_size_placeholder'), 
                onchange: "set_page_size(this)",
                value: @page_size}
        %tbody
          - @users.each do |user|
            - user_detail = user.user_detail
            %tr
              %td
                - if user.avatar.attached?
                  = image_tag(url_for(user.avatar), 
                    alt: "profile_picture", 
                    class: "rounded mx-auto d-block img-thumbnail avatar-xs")
                - else
                  = image_tag("default-profile-picture.png",
                    alt: "profile_picture", 
                    class: "rounded mx-auto d-block img-thumbnail avatar-xs")
              %td.align-middle
                = user.email
              %td.align-middle
                = user_detail.name
                = user_detail.last_name
              %td.align-middle
                = user_detail.phone
              %td.align-middle
                = user.role.capitalize
              %td.text-right.align-middle
                = link_to edit_users_registration_path(user), class: "btn btn-success btm-sm mr-1" do
                  %i.fas.fa-edit.fa-xs
                %button.btn.btn-danger.btm-sm.mr-1{onclick: "show_confirmation_modal(this)",
                  action: users_registration_path(user),
                  method: :delete}
                  %i.fas.fa-trash-alt.fa-xs
      = paginate @users
    - else
      .text-center.text-muted.mt-5
        %h2
          No hay resultados para mostrar.